<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blcs.mainmodule">

    <application>
        <activity android:name=".activity.MainActivity" android:launchMode="singleTask" android:theme="@style/Theme.BLCSkotin"/>
        <activity android:name=".activity.DatabindingActivity" />
        <activity android:name=".activity.PublicActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            />
    </application>

</manifest>